<html>
        <h3 class="brand company-info"><span>FooDish</span></h3>
        <link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">
        <body class="container">
        <form class="contact-form">
            <div>
                    <p><b>Dish Name</b></p>
                    <div class="rightmargin">
                    <p><b>Maximum Number of Guests</b></p>
                    </div>
                    <br></br>
                    <div class="rightmarginnew">
                    <p>3</p>
                </div>
                    <p>Kung Pao Chicken</p>
                    <br></br>
                    <a href="/">Edit This Page</a>
                    <div class="rightmarginexp1">
                            <b>Guests Joined</b>
             
                    </div>
                
            
              <p><b>Dish Description</b></p>
              
                  <p>Kung Pao,is a spicy,stir-fried chicken consisting of peanuts,vegetables and chili peppers.</p>
                  <div class="rightmarginexp">
                        <a href="/">Zihan Ciao </a> 
                  </div>
                  
                 
                  <div class="rightmarginexp">
                  <br></br>
                  <a href="/">Junro Tian </a>
                  </div>
                  <br></br>
                  <p><b> When do you want to meet? </b></p>
                  <p>09/10/2020 </p>
                  
<br></br>
                  <p><b> Where do you want to meet? </b></p>
                  
                  <p>Cafeteria</p>
                  <br></br>

                  <p><b> Food Tags</b></p>
                  <p>Chinese Food</p>

              </div>
              </form>
              </body>
    </html>