<html>
<h3 class="brand company-info"><span>FooDish</span></h3>
<link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">

<body class="container">
    <form class="contact-form">
        <div>

            <div>
                <label>Dish Name</label>
                <input type="Dish Name" name="Dish Name " placeholder="Dish Name" id="Dish Name">

            </div>

        </div>
        <br>
        </div>
        <div>
            <label>Dish Description</label>
            <input type="Please enter the Dish Description here " name="Please enter the Dish Description here" placeholder="Please enter the Dish Description here" id="Please enter the Dish Description here">
            <br>
        </div>
        <div class="rightmarginnew1">
            <p><b>Welcome Utkarsh Singh</b></p>
        </div>
            <table>
            <tr>
                <td>

                    <label>Choose a date</label>
                </td>
                <td>

                    <label>Choose a time</label>
                </td>
            </tr>
            <tr><td><input type="date" name="date" placeholder="Date" id="date"></td>
                <td><input type="time" name="time" placeholder="Time" id="time"></td>
            </tr>
            <tr><td>
                    <label>Lunch Location</label>
                </td>
                <td>
                    <label>Number of guests</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="location" name="location" placeholder="Location" id="location">
                </td>
                <td>
                        <input type="number" name="points" step="1">
                </td>

            </tr>
            </table>
            </div>



        
        

            
            
        </div>
        </div>



        </div>
        </div>



        <br>
    </form>
    <p><b>Type Of Cusine</b></p>
    <div>


        <input type="radio" name="user" value="Pizza"> Pizza<br>
        <input type="radio" name="user" value="Sushi"> Sushi<br>
        <input type="radio" name="user" value="Thai"> Thai<br>
        <input type="radio" name="user" value="Chinese"> Chinese<br>
    </div>
    <br></br>
    <br></br>

    <div></div>

    <button name="Submit" id="form-submit-init">Submit</button>

    <br>
    </div>

</body>

</html>