<html>
        <h3 class="brand company-info"><span>FooDish</span></h3>
        <link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">
        <body class="container">
        <form class="contact-form">
            <div>
            <table>
        
              <tr>
                  <td><label>Email</label></td>
                  <td><div class="rightmarginnew4">
                       
                                <img src="Foodish.png" alt="Trulli" width="500" height="333">
                            </div></td>
                      
                </td>
              </tr>
              <tr>
                  <td> <input type="email" name="emailAddress" placeholder="Email Address" id="email-address"></td>
                  
              </tr>
              <tr>
                  <td><label>Password</label></td>
              </tr>
              <tr>
                  <td><input type="password" name="password" placeholder="Password" id="password"></td>
              </tr>
              
              
                
            <tr>
                <td> <input type="checkbox"><label>Remember Me</label></td>
            </tr>
            <tr>
                <td><br></br></td>
            </tr>
         <tr>
             <td><p>Please Validate Your Email Before Login</p></td>
         </tr>
         <tr>
             <td><a href="/">Resend email</a></td>
         </tr>

<tr>
                <td><br></br></td>
            </tr>
            <tr>
                <td><button name="Login" id="form-submit-init">Login</button></td>
            </tr>
            <tr>
                <td><br></br></td>
            </tr>
            
            <tr>
                <td><a href="/">Sign Up</a></td>
            </tr>
            <br>
        </table>
            </div>
        </form>
            
            
        </body>
        </html>