<html>
<h3 class="brand company-info"><span>FooDish</span></h3>
<link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="container">
    <form class="contact-form">
        <div>
            <div class="rightmarginnew3">
                <p><b>Utkarsh Singh</b></p>
            </div>
            <br></br>
            <div class="rightmarginnew4">
                <p><b>Chef-Utkarsh Singh </b></p>
                
            </div>

            <p><b>Dish Name </b></p>

            <p>Kung Pao Chicken</p>
<div class="rightmarginnew4">
    Zihan Ciao

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </div>

            <br></br>
            <div class="rightmarginnew4">
    Food Hygeine

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </div>
            
            <br></br>
            
                            
                      


            <p><b>Dish Description</b></p>
            <div class="rightmarginnew4">
                    Food Quantity
                
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            </div>
                            

            <p>Kung Pao,is a spicy,stir-fried chicken consisting of peanuts,vegetables and chili peppers.</p>
            
            <div class="rightmarginnew4">
                    Food Taste
                
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            </div>
                            
                            <br></br>
            <p><b> Date </b></p>
            <div class="rightmarginnew4">
                
                <label>Any Suggestions?</label>
                <input type="suggestion" name="suggestion" placeholder="Improvement for next time" id="suggestion">
            </div>
            <p>09/10/2020 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 11am-1pm</p>


            <br></br>

            <p><b> Food Tags</b></p>
            <p>Chinese Food</p>
            <br></br>
            <button name="Submit" id="form-submit-init">Submit</button>

        </div>
    </form>
</body>

</html>