<html>
<h3 class="brand company-info"><span>FooDish</span></h3>
<link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">
<body class="container">
<form class="contact-form">
    <div>
        <table>
            <tr>
                <th><label>First Name</label></th>
                <th><label>Last Name</label></th>
            </tr>
            <tr>
                <td><input type="text" name="firstName" placeholder="First Name" id="first-name"></td>
                <td><input type="text" name="lastName" placeholder="Last Name" id="last-name"></td>
                <td><div class="rightmarginnew4">
                       
                        <img src="Foodish.png" alt="Trulli" width="500" height="333">
                    </div></td>
            </tr>
            <tr>
                  <td>  <label>Email</label> </td>

                </tr>
                <tr>
                    <td> <input type="email" name="emailAddress" placeholder="Email Address" id="email-address"></td>
                </tr>

                <tr>
                    <td> <label>Password</label></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Password" id="password"></td>
                </tr>
                <tr>
                    <td><button name="get-started" id="form-submit-init">Get Started</button></td>
                </tr>
                <tr>
                        <td><label>Already have an account?</label></td>
                        <td><a href="/">Sign In </a></td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td> <a href="/">Terms and Conditions</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"><label>I agree</label></td>
                    </tr>
                    <tr>
                            <td><br></td>
                        </tr>
                    <tr>
                        <td><a href="/">Disclaimer</a></td>
                    </tr>
        </table>
        <br>
    </div>
    
        
    
    
   
   
</form>
    
    
    
</body>
</html>