<html>
<h3 class="brand company-info"><span>FooDish</span></h3>
<link rel="stylesheet" type="text/css" href="file:///Users/utkarsh/Desktop/FooDish/styles/style.css">
<body class="container">
<form class="contact-form">
    <div>
      
    <div>
        <label>Email</label>
        <input type="email" name="emailAddress" placeholder="Email Address" id="email-address">
        <br>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <br>
    </div>
    <div>
            <input type="checkbox"><label>Remember Me</label>
            <br>
        </div>
    
    <div></div>
    <button name="Login" id="form-submit-init">Login</button>
    <br>
</form>
    <div>
        <label>Already have an account?</label>
        <a href="/">Sign Up</a>
    </div>
   
</body>
</html>