<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FooDish</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="container">
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h1>FooDish</h1>
        <ul>
          <li><i</i> Happy Eating</li>
          </i> Happing Connecting</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Sign up</h3>

        <form method="POST" action="send">
          <p>
            <label>First Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Last Name</label>
            <input type="text" name="last name">
          </p>
            <p class="full">
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p class="full">
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <button type="sign up">Get Started</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>